<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">


                <!-- START LEFT 1-->
                <div class="left_1">
                    <div class="left_1_1">
                        <img src="images/profile.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1_2">
                        <%= user.name %>
                    </div>
                    <div class="left_1_3"> <%= user.profession %></div>
                    <div class="left_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/facebook.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/instagram.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/twitter.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/linkeding.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/youtube.svg" alt="" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/youtube.svg" alt="" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END LEFT 1-->


<!-- ********************************************************* -->
                <div class="marginer"></div>
<!-- ********************************************************* -->
                
                <!-- START LEFT 2-->
                <div class="left_2">
                    <div class="about about_1">
                        <div class="about_1_1">Age:</div>
                        <div class="about_1_2"><%= user.age %></div>
                    </div>
                    <div class="about about_2">
                        <div class="about_1_1">Residence:</div>
                        <div class="about_1_2"> <%= user.residence %></div>
                    </div>
                    <div class="about about_3">
                        <div class="about_1_1">Freelance:</div>
                        <div class="about_1_2" style="color: #7eb942"><%= user.freelance %></div>
                    </div>
                    <div class="about about_4">
                        <div class="about_1_1">Address:</div>
                        <div class="about_1_2"><%= user.adress %></div>
                    </div>
                </div>

                <!-- END LEFT 2-->    

<!-- ********************************************************* -->
                <div class="marginer"></div>
<!-- ********************************************************* -->

                <!-- START LANGUAGES-->
                <div class="languages">
                    <div class="label">
                        <div class="text-wrapper-1">Languages</div>
                    </div>

                    <div class="languages_container">
                        <div class="lang_sub">
                            <div class="first_lang"> <%= user.languages[0] %></div>
                            <div class="text-wrapper-2">100%</div>
                        </div>
                  
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="217" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                  
                        <div class="lang_sub">
                            <div class="second_lang"><%= user.languages[1] %></div>
                            <div class="text-wrapper-3">80%</div>
                        </div>
                    
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="208" height="2" rx="1" fill="#FFB400"/>
                        </svg>

                        <div class="lang_sub">
                            <div class="third_lang"><%= user.languages[2] %></div>
                            <div class="text-wrapper-3">60%</div>
                        </div>

                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="190" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                </div>
                <!-- END LEFT 3-->

<!-- ********************************************************* -->
                <div class="marginer"></div>
<!-- ********************************************************* -->

                <!-- START LEFT 4-->
                <div class="skills languages">

                    <div class="label">
                        <div class="text-wrapper-1">Skills</div>
                    </div>

                    <div class="languages_container">
                        <div class="lang_sub">
                            <div class="first_lang"> <%= user.skills[0] %></div>
                            <div class="text-wrapper-2">90%</div>
                        </div>
                  
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="217" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                  
                        <div class="lang_sub">
                            <div class="second_lang"><%= user.skills[1] %></div>
                            <div class="text-wrapper-3">85%</div>
                        </div>
                    
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="208" height="2" rx="1" fill="#FFB400"/>
                        </svg>

                        <div class="spanish lang_sub">
                            <div class="third_lang"><%= user.skills[2] %></div>
                            <div class="text-wrapper-3">80%</div>
                        </div>

                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="201" height="2" rx="1" fill="#FFB400"/>
                        </svg>

                        <div class="lang_sub">
                            <div class="third_lang"><%= user.skills[3] %></div>
                            <div class="text-wrapper-3">75%</div>
                        </div>

                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="187" height="2" rx="1" fill="#FFB400"/>
                        </svg>

                        <div class="lang_sub">
                            <div class="third_lang"><%= user.skills[4] %></div>
                            <div class="text-wrapper-3">85%</div>
                        </div>

                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="190" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                </div>
                <!-- END LEFT 4-->

<!-- ********************************************************* -->
                <div class="marginer"></div>
<!-- ********************************************************* -->

                <!-- START LEFT 5-->
                <div class="left_5">
                    <div class="extra_skills_container">
                        <!--  -->
                        <div class="extra_skills_label">
                            Extra Skills
                        </div>
                        <!--  -->
                        <div class="extra_skills_sub">
                            <!-- Extra Skills ONE  -->
                            <div class="my_extra_skills">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                                    <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                                </svg>

                                <div class="skills_itself">
                                    <%= user.extra_skills[0]%>
                                </div>
                            </div>

                            <!-- Extra Skills TWO  -->
                            <div class="my_extra_skills">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                                    <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                                </svg>

                                <div class="skills_itself">
                                    <%= user.extra_skills[1]%>
                                </div>
                            </div>

                            <!-- Extra Skills THREE  -->
                            <div class="my_extra_skills">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                                    <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                                </svg>

                                <div class="skills_itself">
                                    <%= user.extra_skills[2]%>
                                </div>
                            </div>

                            <!-- Extra Skills FOUR  -->
                            <div class="my_extra_skills">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                                    <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                                </svg>

                                <div class="skills_itself">
                                    <%= user.extra_skills[3]%>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END LEFT 5-->

<!-- ********************************************************* -->
                <div class="marginer"></div>
<!-- ********************************************************* -->
            </div>

<!-- **************LEFT FRAME IS FINISHED HERE********************* -->


<!-- **************MIDD FRAME STARTS HERE********************* -->
            <div class="midd_frame">
                <div class="midd_up">

                    <div class="midd_describe">
                        <div class="midd_h">
                            Doctor neurologists in OHSU Hospital
                        </div>

                        <div class="midd_p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.
                        </div>

                        <div class="midd_btn">
                            HIRE ME
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                <g clip-path="url(#clip0_2_2655)">
                                <path d="M10.8554 7.72765L7.27939 4.15165L8.22206 3.20898L13.4074 8.39432L8.22206 13.5797L7.27939 12.637L10.8554 9.06098H2.74072V7.72765H10.8554Z" fill="#2B2B2B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2_2655">
                                <rect width="16" height="16" fill="white" transform="translate(0.0742188 0.394531)"/>
                                </clipPath>
                                </defs>
                            </svg> 
                        </div>
                    </div>

                    <div class="midd_img">
                        <img src="images/image1.png" alt="">
                    </div>

                    <svg id="ellipse_1" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M15.0702 8.64327C15.0702 12.3627 11.9596 15.4262 8.06196 15.4262C4.16431 15.4262 1.05371 12.3627 1.05371 8.64327C1.05371 4.92388 4.16431 1.86035 8.06196 1.86035C11.9596 1.86035 15.0702 4.92388 15.0702 8.64327Z" stroke="#FFB400" stroke-opacity="0.8" stroke-width="2"/>
                    </svg> 

                    <svg id="ellipse_2" xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                        <path d="M15.5648 8.04659C15.5648 11.766 12.4542 14.8295 8.55659 14.8295C4.65894 14.8295 1.54834 11.766 1.54834 8.04659C1.54834 4.3272 4.65894 1.26367 8.55659 1.26367C12.4542 1.26367 15.5648 4.3272 15.5648 8.04659Z" stroke="#05FF00" stroke-opacity="0.8" stroke-width="2"/>
                    </svg>


                    <svg id="ellipse_3" xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                        <path d="M15.4652 8.11105C15.4652 11.8304 12.3546 14.894 8.45698 14.894C4.55933 14.894 1.44873 11.8304 1.44873 8.11105C1.44873 4.39165 4.55933 1.32812 8.45698 1.32812C12.3546 1.32812 15.4652 4.39165 15.4652 8.11105Z" stroke="#FFB400" stroke-opacity="0.8" stroke-width="2"/>
                    </svg>

                    <div id="ellipse_4" style="width: 15.93px; height: 15.65px; transform: rotate(25.41deg); transform-origin: 0 0; border: 2px rgba(0, 71.40, 255, 0.80) solid"></div>

                    <svg id="ellipse_5" xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                        <path d="M15.1195 8.00655C15.1195 11.7259 12.0089 14.7895 8.11127 14.7895C4.21363 14.7895 1.10303 11.7259 1.10303 8.00655C1.10303 4.28716 4.21363 1.22363 8.11127 1.22363C12.0089 1.22363 15.1195 4.28716 15.1195 8.00655Z" stroke="#05FF00" stroke-opacity="0.8" stroke-width="2"/>
                    </svg>

                    <div id="ellipse_6" style="width: 15.93px; height: 15.65px; transform: rotate(25.41deg); transform-origin: 0 0; border: 2px rgba(255, 180, 0, 0.80) solid"></div>

                    <svg id="ellipse_7" xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                        <path d="M1.79203 10.7623L6.97016 2.04584L12.1483 10.7623H1.79203Z" stroke="#FF2E00" stroke-opacity="0.8" stroke-width="2"/>
                    </svg>
                </div>

                

                <div class="midd_down">
                    <div class="services_des">
                        <div class="services_h">My Services</div>
                        <div class="services_p">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Lorem ipsum</div>
                    </div>
                    <div class="services_blocks">
                        <div class="blocks_itself">
                            <div class="block_icon block_items">
                               <img src="box_images/web.png" alt="">
                            </div>
                            <div class="block_h block_items">Web Develop</div>
                            <div class="block_p block_items">Blog, E-commerce</div>
                        </div>
                        <div class="blocks_itself">
                            <div class="block_icon block_items"><img src="box_images/illustration.png" alt=""></div>
                            <div class="block_h block_items">UI/UX Design</div>
                            <div class="block_p block_items">Mobile app, Website Design</div>
                        </div>
                        <div class="blocks_itself">
                            <div class="block_icon block_items"><img src="box_images/Microphone.png" alt=""></div>
                            <div class="block_h block_items">Sound Design</div>
                            <div class="block_p block_items">Voice Over, Beat Making</div>
                        </div>
                    </div>
                    <div class="services_blocks">
                        <div class="blocks_itself">
                            <div class="block_icon block_items"><img src="box_images/game-development.png" alt=""></div>
                            <div class="block_h block_items">Game Design</div>
                            <div class="block_p block_items">Character Design, Props & Objects</div>
                        </div>
                        <div class="blocks_itself">
                            <div class="block_icon block_items"><img src="box_images/Photographer.png" alt=""></div>
                            <div class="block_h block_items">Photography</div>
                            <div class="block_p block_items">Portrait, Product Photography</div>
                        </div>
                        <div class="blocks_itself">
                            <div class="block_h block_items">Advertising</div>
                            <div class="block_p block_items">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                            <div class="order_now">ORDER NOW 
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <g clip-path="url(#clip0_2_649)">
                                    <path d="M10.1431 10.0002L7.78564 7.64352L8.96398 6.46436L12.4998 10.0002L8.96398 13.536L7.78564 12.3569L10.1431 10.0002Z" fill="#FFB400"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2_649">
                                    <rect width="20" height="20" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="right_frame">
                <div class="nav nav_icon1">
                    <img src="btn_icon/Contrast.png" alt="">
                </div>
                <div class="nav nav_icon2">
                    <img src="btn_icon/Home.png" alt="">
                </div>
                <div class="nav nav_icon3">
                    <img src="btn_icon/file-code.svg" alt="">
                </div>
                <div class="nav nav_icon4">
                    <img src="btn_icon/cv.png" alt="">
                </div>
                <div class="nav nav_icon5">
                    <img src="btn_icon/Vector.png" alt="">
                </div>
                <div class="nav nav_icon6">
                    <img src="btn_icon/Blog.png" alt="">
                </div>
                <div class="nav nav_icon7">
                    <img src="btn_icon/Contact.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>